# Ignore build folder
BUILD/
**/BUILD/
**/**/BUILD/
build/
**/*/build/
**/*/*/build/
# Ignore VSCode settings
.vscode/

# Ignore Python build files
*.pyc
*.pyo
*.pyd
__pycache__/
dist/
build/
*.egg-info/

mixed_precision/matmul/exploration/
mixed_precision/matmul/exploration/*
mixed_precision/matmul/logs/
mixed_precision/matmul/logs/*


mixed_precision/fir/exploration/
mixed_precision/fir/exploration/*
mixed_precision/fir/logs/
mixed_precision/fir/logs/*

mixed_precision/convolutioncl/exploration/
mixed_precision/convolutioncl/exploration/*
mixed_precision/convolutioncl/logs/
mixed_precision/convolutioncl/logs/*

mixed_precision/SVM/exploration/
mixed_precision/SVM/exploration/*
mixed_precision/SVM/logs/
mixed_precision/SVM/logs/*

mixed_precision/dwt/exploration/
mixed_precision/dwt/exploration/*
mixed_precision/dwt/logs/
mixed_precision/dwt/logs/*


mixed_precision/kmeans/exploration/
mixed_precision/kmeans/exploration/*
mixed_precision/kmeans/logs/
mixed_precision/kmeans/logs/*


fixed_precision/fft-memsave/exploration/
fixed_precision/fft-memsave/exploration/*

fixed_precision/fft-memsave/fft_mixed_2_8/exploration/
fixed_precision/fft-memsave/fft_mixed_2_8/exploration/*

mixed_precision/fir/ECG_processing_pan_tompkins/debug/
mixed_precision/fir/ECG_processing_pan_tompkins/debug/*

mixed_precision/fir/ECG_processing_pan_tompkins/figure/
mixed_precision/fir/ECG_processing_pan_tompkins/figure/*
